.product {
    width: 20%;
    float: left;

}

.prodTitle {
    font-weight: bold;
    position: absolute;
    width: 18%;
    text-align: center;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

.prodType {
    font-size: 13px;
    text-align: center;
}

.prodDesc {
    font-size: 14px;
    text-align: center;
}

.price {
    font-size: 22px;
    color: #000000;
    text-align: center;
}

.priceBogo {
    font-size: 22px;
    color: #e73e3e;
    text-align: center;
}

.add {
    display: block;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    background-color: #d42a2a;
    border: 1px solid #d42a2a;
    color: #fff2f1;
    transition: .15s;
    z-index: 9;
    text-align: center;
    margin-bottom: 50px;
}

.add:hover {
    background-color: #ffffff;
    color: #680000;
    cursor: pointer;
}

.extras {
    margin-top: 84px;
    width: 100%;
}

.bogo {
    position: absolute;
    padding: 8px 30px 8px 30px;
    background-color: #9df1a4;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    transform: rotate(90deg);
    margin-left: 12%;
    margin-top: 20px;
}

.ratingBox {
    width: 100%;
}

.ratecontainercenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    cursor: pointer;
}

.ratecontainercenter:hover .reviews {
    color: #0e8117;
    transition: .2s;
}

.reviews {
    float: right;
}

.titles:hover p {
    color: #0e8117;
    transition: .2s;
    cursor: pointer;
}

@media screen and (max-width: 999px) {
    /* .product {
        margin-top: 30px;
        width: 50%;
        float: left;
        text-align: center;
    }
    */
    .prodTitle {
        width: 170px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: block;
    }
 
    .bogo {
        margin-left: 175px;
        position: relative;
        width: 100px;
        margin-bottom: -54px;
    }

    .extras {
        margin-top: 20px;
    }
}

