.clearfix {
    overflow: auto;
    width: 100%;
}

#hero {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-bottom: 20px;
}

#adBucket {
    column-count: 3;
    column-gap: 10px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.bottle {
    cursor: pointer;
    width: 100%;
    height: auto;
}

.division {
    margin-top: 10px;
    /* margin-bottom: -25px; */
    z-index: 1;
    width: 100%;
    position: absolute;
    text-align: center;
}

.division p {
    font-size: 23px;
    font-weight: bold;
    color: #0e8117;
    margin: 0;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    text-align: center;
}

.lineGreen {
    margin-top: 24px;
    width: 100%;
    height: 2px;
    background-color: #0e8117;
    z-index: 0;
}

#productsBox {
    width: 100%;
    margin-top: 50px;
    height: 20%;
}

.productImage {
    width: 100%;
    height: auto;
}

.spacer {
    margin-top: 400px;
    height: 100px;
    width: 100%;
}

@media screen and (max-width: 999px) {/*and (min-width: 64){*/
    #adBucket {
        width: 350px;
        column-count: 1;
    }

    .bottle {
        width: 100%;
        margin-bottom: 20px;
    }

    .midBottle {
        margin-left: 0;
        margin-right: 0;
    }

    #productsBox {
        width: 350px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}